{include 'adminHeader.html'}

	<h1>自行车管理</h1>
	<a class="btn btn-primary" href="index.php?a=addBike">添加新自行车</a>
	<nav>
		<ul class="pagination">
			<li {if $index eq 0}class="disabled"{/if}><a {if $index
				neq 0}href="index.php?a=bikeMgr&i={$index-1}"{/if}><span
					aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
			{for $i=0 to $page - 1}
			<li {if $i eq $index}class="active"{/if}><a
				href="index.php?a=bikeMgr&i={$i}">{$i + 1}</a></li> {/for}
			<li {if $index eq $page - 1}class="disabled"{/if}><a {if $index
				neq $page - 1}href="index.php?a=bikeMgr&i={$index+1}"{/if}><span
					aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
		</ul>

	</nav>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>车辆名称</th>
				<th>当前借车信息</th>
				<th>当前状态</th>
				<th>停放车站名称</th>
				<th>当前密码</th>
				<th>二维码</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<!-- {foreach $bikes as $item} -->
			<tr>
				<td>{$item['ID']}</td>
				<td>{$item['name']}</td>
				<td><!-- {if $item['rentID']} --><a href="index.php?a=rentMgr&index={$item['rentID']}">查看(ID:{$item['rentID']})</a><!-- {/if} --></td>
				<td>{if $item['state'] eq 0}服役中{else if $item['state'] eq 1}已借出{else if $item['state'] eq 2}待修{else}修好待用{/if}</td>
				<td>{$item['stopName']}</td>
				<td>{$item['pwd']}</td>
				<td><a href="getQR.php?id={$item['ID']}" target="_blank">查看</a></td>
				<td><a class="btn btn-default"
					href="index.php?a=editBike&id={$item['ID']}">编辑</a><a
					class="btn btn-danger" href="index.php?a=delBike&id={$item['ID']}"
					onclick="return confirm('您确定要删除{$item['name']}吗？');">删除</a></td>
			</tr>
			<!-- {/foreach} -->
		</tbody>
	</table>

	<nav>
		<ul class="pagination">
			<li {if $index eq 0}class="disabled"{/if}><a {if $index
				neq 0}href="index.php?a=bikeMgr&i={$index-1}"{/if}><span
					aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
			{for $i=0 to $page - 1}
			<li {if $i eq $index}class="active"{/if}><a
				href="index.php?a=bikeMgr&i={$i}">{$i + 1}</a></li> {/for}
			<li {if $index eq $page - 1}class="disabled"{/if}><a {if $index
				neq $page - 1}href="index.php?a=bikeMgr&i={$index+1}"{/if}><span
					aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
		</ul>
	</nav>
	<a class="btn btn-primary" href="index.php?a=addBike">添加新自行车</a>
</div>
<!-- /container -->

</body>
</html>