<!DOCTYPE html>
<html>

<head>{include 'library/header.html' title='我要借车'}
</head>

<body>
    <div data-dom-cache="false" data-role="page" id="rentConfirmPage" data-theme="b">
        <div data-role="header">
            <h1>我要借 {$bike['name']}</h1>
        </div>
        <div role="main" class="ui-content">
            <h3>请输入车站口令 </h3>
            <form action="main.php?a=rentIt&s={$bike['ID']}" method="post">
                <label for="code" class="ui-hidden-accessible">车站口令</label>
                <input type="text" id="code" name="code" />
                <button type="submit">确认借车</button>
            </form>
        </div>
        <div data-role="footer" style="overflow: hidden;" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <!-- {if $back} -->
                    <li><a href="main.php" class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back" data-role="button" role="button">返回</a></li>
                    <!-- {else} -->
                    <li><a href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back" data-role="button" role="button">返回</a></li>
                    <!-- {/if} -->
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
