<!DOCTYPE html>
<html>
<head>{include 'library/header.html' title='错误提示'}
</head>
<body>
	<div data-role="page" id="errPage" data-theme="c">
	<div data-role="header">
			<h1>错误提示</h1>
		</div>
		<div role="main" class="ui-content">
			<p style="color:red;">{$error}</p>
		</div>
		<div data-role="footer" style="overflow: hidden;"
			data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-rel="back"
						class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back"
						data-role="button" role="button">返回</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
