<!DOCTYPE html>
<html>

<head>{include 'library/header.html' title='关于我们'}
</head>

<body>
    <div data-role="page" id="helpPage" data-theme="c">
        <div data-role="header">
            <h1>关于我们</h1>
            <a href="main.php" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-back">返回</a>
        </div>
        <div data-role="content" class="ui-content" data-theme="c">
            <img src="images/logo.jpg" alt="logo" style="max-width: 300px; min-width: 120px; width: 60%;">
            <h2>踏鸽行 师大公共自行车项目</h2>
            <ul data-role="listview" data-inset="true">
                <li data-role="list-divider">使用帮助</li>
                <li><a href="#help1">注册认证</a></li>
                <li><a href="#help2">车锁使用</a></li>
                <li><a href="#help3">如何借车</a></li>
                <li><a href="#help4">如何还车</a></li>
                <li><a href="#help5">规章制度</a></li>
                <li data-role="list-divider">关于我们</li>
                <li><a href="http://mp.weixin.qq.com/s?__biz=MzAwNDA5MjQzMw==&mid=210704801&idx=1&sn=aff366ca4bf058590b47b7bd245055a4#rd">分享到朋友圈</a></li>
                <li><a href="http://mp.weixin.qq.com/s?__biz=MzAwNDA5MjQzMw==&mid=210517410&idx=1&sn=c9106ee1de81a96482660a45b205b783#rd">项目介绍</a></li>
                <li><a href="http://mp.weixin.qq.com/s?__biz=MzAwNDA5MjQzMw==&mid=210517814&idx=1&sn=08d6036295022e7460087891c55d5105#rd">团队成员</a></li>
                <li><a href="http://mp.weixin.qq.com/s?__biz=MzAwNDA5MjQzMw==&mid=210517670&idx=1&sn=05b92cd6f3e1dbae71419ba7f568ff38#rd">联系方式</a></li>
            </ul>
        </div>
        <div data-role="footer" style="overflow: hidden;" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="main.php" class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back" data-role="button" role="button">返回</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div data-role="page" id="help1" class="help" data-theme="c">
        <div data-role="header">
            <h1>注册认证</h1>
            <a href="#" data-rel="back" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-back">返回</a>
        </div>
        <div data-role="content" class="ui-content" data-theme="c">
            <h3>1、阅读用户协议，提交个人信息</h3>
            <p>进入平台后，认真阅读用户协议，并按照提示填写个人信息，点击提交</p>
            <h3>2、发送学生证件的照片</h3>
            <p>返回公众号聊天窗口界面，点击下方菜单最左端的键盘图标，切换到聊天框，发送个人学生卡或学生证的清晰照片</p>
            <img src="images/help1.jpg" alt="demo">
            <h3>3、耐心等待</h3>
            <p>我们的工作人员将在3个工作日内予以审核，请及时关注平台中的反馈</p>
        </div>
        <div data-role="footer" style="overflow: hidden;" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back" data-role="button" role="button">返回</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div data-role="page" id="help2" class="help" data-theme="c">
        <div data-role="header">
            <h1>车锁使用</h1>
            <a href="#" data-rel="back" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-back">返回</a>
        </div>
        <div data-role="content" class="ui-content" data-theme="c">
            <h2>开锁</h2>
            <p>密码设置区，两边有突出标识点，将原始密码（如00000）对齐标识，即可开锁</p>
            <img src="images/lock1.jpg" alt="lock1">
            <h2>修改密码</h2>
            <h3>1、开锁</h3>
            <h3>2、找到拨片</h3>
            <p>拔出锁芯，保持原始密码不动的情况下，拨动如图所示的拨片</p>
            <img src="images/lock2.jpg" alt="lock2">
            <h3>3、拨动拨片</h3>
            <p>如图所示，把拨片拨到另一边</p>
            <img src="images/lock3.jpg" alt="lock3">
            <h3>4、修改密码</h3>
            <p>拨动密码转盘，根据自己需要设置密码，注意对齐凸出的箭头，牢记密码</p>
            <img src="images/lock4.jpg" alt="lock4">
            <h3>5、拨回拨片</h3>
            <p>设置好密码后，把拨片拨回原来的位置，如图所示</p>
            <img src="images/lock5.jpg" alt="lock5">
            <h3>6、完成</h3>
            <p>如图所示，已经设置好了新密码（如11111）</p>
            <img src="images/lock6.jpg" alt="lock6">
			<br>
			<p style="color:red;">如果忘记密码，可以重新回到首页查看开锁或锁车密码，一般将保留5分钟。</p>
        </div>
        <div data-role="footer" style="overflow: hidden;" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back" data-role="button" role="button">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-role="page" id="help3" class="help" data-theme="c">
        <div data-role="header">
            <h1>如何借车</h1>
            <a href="#" data-rel="back" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-back">返回</a>
        </div>
        <div data-role="content" class="ui-content" data-theme="c">
            <h2>方法一 扫码借车</h2>
            <h3>1、扫描车辆上的二维码</h3>
			<img src="images/bike.jpg" alt="bike">
            <h3>2、输入车站动态密码</h3>
            <p>动态密码是保证用户真实在车站的机制，密码牌一般在车站站牌上</p>
            <p style="color:red;">请按下动态码上的按钮以激活屏幕</p>
			<img src="images/stop.jpg" alt="stop">
			<img src="images/code.jpg" alt="code">
            <h3>3、获得开锁密码</h3>
            <p>借车成功，获得开锁密码，开始你的踏鸽行！</p>
            <p style="color:red;">如果忘记密码，可以回到首页个人中心查看</p>
            <img src="images/help2.jpg" alt="help2">
            <h2>方法二 选择借车</h2>
            <h3>1、点击我要借车</h3>
            <img src="images/help3.jpg" alt="help3">
            <h3>2、选择车站</h3>
            <img src="images/help4.jpg" alt="help4">
            <h3>3、选择车辆</h3>
            <img src="images/help5.jpg" alt="help5">
            <h3>4、输入车站动态密码</h3>
            <p>动态密码是保证用户真实在车站的机制，密码牌一般在车站站牌上</p>
            <p style="color:red;">请按下动态码上的按钮以激活屏幕</p>
			<img src="images/stop.jpg" alt="stop">
			<img src="images/code.jpg" alt="code">
            <h3>5、获得开锁密码</h3>
            <p>借车成功，获得开锁密码，开始你的踏鸽行！</p>
            <p style="color:red;">如果忘记密码，可以回到首页个人中心查看</p>
            <img src="images/help2.jpg" alt="help2">
            <h3>如何开锁参见<a href="#help2">车锁使用</a></h3>
            <h2>借车遇到问题</h2>
            <p>借车遇到问题，如车辆损坏、车锁打不开等请在五分钟内，通过借车成功页面点击[报告问题]，或在个人中心主页点击[借车问题]，按照提示报告</p>
            <h2>行程中遇到问题</h2>
            <p>行程中遇到问题，如车辆损坏、车辆丢失等，请在个人中心主页点击[行程意外]报告问题并联系志愿者，并仍将自行车还至车站</p>
            <img src="images/help6.jpg" alt="help6">
        </div>
        <div data-role="footer" style="overflow: hidden;" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back" data-role="button" role="button">返回</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="help4" class="help" data-theme="c">
        <div data-role="header">
            <h1>如何还车</h1>
            <a href="#" data-rel="back" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-back">返回</a>
        </div>
        <div data-role="content" class="ui-content" data-theme="c">
            <h3>1、点击我要还车，选择换车车站</h3>
            <img src="images/help7.jpg" alt="help7">
            <h3>2、输入车站动态密码</h3>
            <p>动态密码是保证用户真实在车站的机制，密码牌一般在车站站牌上</p>
            <p style="color:red;">请按下动态码上的按钮以激活屏幕</p>
			<img src="images/stop.jpg" alt="stop">
			<img src="images/code.jpg" alt="code">
            <h3>3、获得锁车密码</h3>
            <p>还车成功，请务必确保用平台提供的密码锁好车辆，否则我们将追究责任</p>
            <p style="color:red;">如果忘记开锁或锁车密码，可以回到首页个人中心查看，一般保留五分钟</p>
            <img src="images/help8.jpg" alt="help8">
            <h3>修改密码的帮助参见<a href="#help2">车锁使用</a></h3>
        </div>
        <div data-role="footer" style="overflow: hidden;" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back" data-role="button" role="button">返回</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="help5" class="help" data-theme="c">
        <div data-role="header">
            <h1>规章制度</h1>
            <a href="#" data-rel="back" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-back">返回</a>
        </div>
        <div data-role="content" class="ui-content" data-theme="c">
            <h2>使用制度</h2>
            <ol>
                <li>应按时归还车辆，若超时还车，我们将根据超出时长扣除相应积分（详见表2）</li>
                <li>不得随意将车辆借给校外人员，一经发现，我们将警告并扣除部分积分。一旦出现损坏和丢失，责任由用户承担</li>
                <li>不得随意损坏车辆车锁或窜改车锁密码，一经证实，扣除相应分数并追究相关责任（详见表2）</li>
                <li>借车前请在五分钟内检查车辆与车锁问题，若有问题及时通过平台的借车问题上报，平台将自动为您归还该车辆并标记为待修</li>
                <li>使用完毕后请将车辆归还至车站，不得随意停放</li>
                <li>不得谎报车辆或车锁存在问题，若3次误报，则视为谎报</li>
            </ol>
            <h2>捐车制度</h2>
            <ol>
                <li>车况良好即可捐车</li>
                <li>捐赠人将获得相应积分奖励（详见表2）</li>
                <li>捐赠人若损坏或丢失车辆，将酌情减少惩罚与赔偿额度</li>
            </ol>
            <h2>问责制度</h2>
            <ol>
                <li>用户接收到的密码无法正常打开车锁，我们将派出人员处理，并根据借车记录追究责任</li>
                <li>若用户无法及时还车，我们将扣除相应积分（详见表2）</li>
                <li>若车辆在用户使用过程中损坏或丢失，责任由用户承担，用户应当进行赔偿；拒不赔偿的，我们将在平台公示用户信息（赔偿额度详见表1）</li>
                <li>若车辆在停放过程中丢失，我方承担损失，我们将会调取监控录像追究责任</li>
            </ol>
            <h2>积分制度</h2>
            <ol>
                <li>用户注册初始积分为60；积分扣至0分时，将不能使用公共自行车服务</li>
                <li>部分行为会导致积分的增减（详见表2）</li>
                <li>不同积分对应不同用户等级，不同用户等级拥有不同的最大借车时长（详见表3）</li>
            </ol>
            <h2>赔偿制度（表1）</h2>
            <h3>轻度损坏自行车（如车筐、铃铛等损坏）</h3>
            <p>更换损坏部件或赔偿相应金额 并 扣除10分</p>
            <p>拒不赔偿的 扣除30分</p>
            <p>赔偿金额 不低于原车价格的5%，不高于原车价格的20%</p>
            <h3>严重损坏自行车（如车锁等影响使用的损坏）</h3>
            <p>自行维修自行车或赔偿原车价格80% 并 扣除15分</p>
            <p>拒不赔偿的 扣除50分 并 公示1天</p>
            <h3>丢失自行车</h3>
            <p>全额赔偿 并 扣除20分</p>
            <p>拒不赔偿的 扣至0分 并 公示7天</p>
            <h2>积分奖惩（表2）</h2>
            <table>
                <tr>
                    <th>事由</th>
                    <th>积分</th>
                    <th>操作</th>
                    <th>备注</th>
                </tr>
                <tr>
                    <td>成功邀请</td>
                    <td>+1</td>
                    <td rowspan="5">平台程序自动完成</td>
                    <td></td>
                </tr>
                <tr>
                    <td>按时还车</td>
                    <td>+2</td>
                    <td></td>
                </tr>
                <tr>
                    <td>超时还车（3h内）</td>
                    <td>-5</td>
                    <td></td>
                </tr>
                <tr>
                    <td>超时还车（3h - 1d）</td>
                    <td>-10</td>
                    <td></td>
                </tr>
                <tr>
                    <td>超时还车（>1d）</td>
                    <td>-10 * d</td>
                    <td></td>
                </tr>
                <tr>
                    <td>轻度损坏自行车</td>
                    <td>-5/-20</td>
                    <td rowspan="8">人工在后台完成</td>
                    <td rowspan="3">可封号</td>
                </tr>
                <tr>
                    <td>严重损坏自行车</td>
                    <td>-10/-50</td>
                </tr>
                <tr>
                    <td>丢失自行车</td>
                    <td>-20/=0</td>
                </tr>
                <tr>
                    <td>捐赠自行车</td>
                    <td>+50</td>
                    <td></td>
                </tr>
                <tr>
                    <td>实情举报</td>
                    <td>+5</td>
                    <td></td>
                </tr>
                <tr>
                    <td>imall捐赠物资</td>
                    <td>根据价格</td>
                    <td></td>
                </tr>
                <tr>
                    <td>参与各种活动</td>
                    <td>根据活动</td>
                    <td></td>
                </tr>
                <tr>
                    <td>谎报问题</td>
                    <td>-10</td>
                    <td>3次误报则视为谎报</td>
                </tr>
            </table>
            <h2>等级制度（表3）</h2>
            <table>
                <thead>
                    <tr>
                        <th>需要达到分数</th>
                        <th>名称</th>
                        <th>最大借车时长</th>
                        <th>活动时期 - 最大借车时长</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- {foreach $ranks as $item} -->
                    <tr>
                        <td>{$item['minScore']}</td>
                        <td>{$item['name']}</td>
                        <td>{$item['maxTime']} 小时</td>
                        <td>{$item['maxTime2']} 小时</td>
                    </tr>
                    <!-- {/foreach} -->
                </tbody>
            </table>
        </div>
        <div data-role="footer" style="overflow: hidden;" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back" data-role="button" role="button">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
