<!DOCTYPE html>
<html>
<head>{include 'library/header.html' title='用户认证'}
</head>
<body>
	<div data-role="page" id="registerPage">
		<div data-role="header">
			<h1>用户认证</h1>
			<a href="main.php?a=help" data-ajax="false"
				class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-info">
				关于我们 </a>
		</div>
		<!-- /header -->
		<div role="main" class="ui-content">
			<!-- {if $name} -->
			<h1 style="color:red; text-shadow: 0 0 4px #bbb;">您已成功提交认证信息</h1>
			<!-- {if $comment} -->
			<p style="color:red;font-size: 1.5em;text-shadow: 0 0 4px #bbb;">志愿者提醒您：{$comment}</p>
			<!-- {/if} -->
			<h3>欢迎新用户，请耐心等待认证，或修改内容。</h3>
			<!-- {else} -->
			<h3>欢迎新用户，使用前请先认证！</h3>
			<h4>用户协议</h4>
			<a href="http://mp.weixin.qq.com/s?__biz=MzAwNDA5MjQzMw==&mid=210028039&idx=1&sn=f381ee54b34670f4c4901b9f4a4997fb#rd">查看用户协议</a>
			<p>提交认证即代表您同意该协议</p>
			<!-- {/if} -->
			<!-- {if not $pic} -->
			<p style="font-weight: bold; color: #D22;">请从 聊天窗口 发送学生卡或学生证的照片</p>
			<!-- {/if} -->
			<!-- {if $error} -->
			<h4>错误： {$error}</h4>
			<!-- {/if} -->
			<form method="post" action="main.php?a=register"
				onsubmit="return validateForm(event);">
				<label for="name">姓名：</label> <input type="text" name="name"
					id="name" placeholder="张三" value="{$name}" /> <label for="mobile">手机号：</label>
				<input type="tel" name="mobile" id="mobile"
					placeholder="17888888888" value="{$mobile}" /> <label
					for="inviterName">邀请人姓名（非必需）：</label> <input type="text"
					name="inviterName" id="inviterName" placeholder="李四"
					value="{$inviterName}" /> <label for="inviterMobile">邀请人手机号（非必需）：</label>
				<input type="tel" name="inviterMobile" id="inviterMobile"
					placeholder="17666666666" value="{$inviterMobile}" /> <label
					for="info">认证个人陈述：</label>
				<textarea id="info" name="info" placeholder="这个项目真不错，我很感兴趣，请同意我申请！"
					cols="" rows="">{$info}</textarea>
				<!-- {if $pic} -->
				<p style="font-weight: bold;">请从 聊天窗口 发送照片修改</p>
				<img src="{$pic}" style="max-width: 80%;" alt="照片不合法" />
				<!-- {else} -->
				<p style="font-weight: bold;">请从 聊天窗口 发送学生卡或学生证照片</p>
				<!-- {/if} -->
				<button type="submit">提交</button>
			</form>
		</div>
		<!-- /content -->
	</div>
	<div data-role="page" id="infoPage">
		<div data-role="header">
			<h1>项目说明</h1>
			<a href="#registerPage" data-rel="back"
				class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all"
				data-role="button" role="button">返回</a>
		</div>
		<div data-role="ui-content">
			<div class="ui-bar">
				<p>我们是踏鸽行 校园公共自行车团队~</p>
				<p>我们是踏鸽行 校园公共自行车团队~</p>
				<p>我们是踏鸽行 校园公共自行车团队~</p>
				<p>我们是踏鸽行 校园公共自行车团队~</p>
				<p>我们是踏鸽行 校园公共自行车团队~</p>
				<p>我们是踏鸽行 校园公共自行车团队~</p>
			</div>
		</div>
		<div data-role="footer" style="overflow: hidden;"
			data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-rel="back"
						class="ui-btn ui-corner-all ui-btn-icon-top ui-icon-back"
						data-role="button" role="button">返回</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>
